<div class="main">
  <%= render "layouts/navbar" %>
  <section class="container p-5">
    <div class="row mb-4 admin-title">
      <div class="admin-title_page-title"><h4>趣味作成</h4></div>
    </div>

    <% if @hobby.errors.any? %>
      <div class="text-center text-danger">
        <% @hobby.errors.full_messages.each do |error| %>
          <p><%= error %></p>
        <% end %>
      </div>
    <% end %>

    <%= form_with model: [:admin,  @hobby], local: true do |f| %>
    <div class="row mb-4 align-items-end">
        <%= attachment_image_tag @hobby, :hobby_image, size:"180x180", fallback: "no_image.jpg", id:"hobby_img_prev" %>
        <%= f.attachment_field :hobby_image %>
    </div>
    <div class="row mb-4">
      <p class="col-md-3">category:</p>
      <div class="offset-md-1">
        <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name, {include_hidden: false}, html_options: {}) do |c| %>
          <div class="mb-2">
            <%= c.label {c.check_box + c.text} %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row mb-4">
       <p class="col-md-3">tittle:</p>
        <%= f.text_field :title, class:"col-md-7 offset-md-1 w-100" %>
    </div>
    <div class="row mb-3">
      <p class="col-md-3">introduction:</p>
      <%= f.text_area :introduction, class:"col-md-7 offset-md-1 overflow-auto" %>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= link_to "一覧に戻る", admin_root_path, class:"btn btn-danger px-2 py-2 w-100 mb-3" %>
      </div>
      <div class="col-md-3 offset-md-4">
        <%= f.submit "登録する", class:"btn btn-primary px-2 py-2 w-100" %>
      </div>
    </div>
    <% end %>
  </section>
</div>
