<div class="container">
  <div class="row mb-4 admin-title">
    <div class="admin-title_page-title"><h4>趣味詳細</h4></div>
  </div>
  <div class="row">
    <div class="col-md-8 hobby-title">
      <%= attachment_image_tag @hobby, :hobby_image, size:"200x200", format:'jpg' %>
      <%= @hobby.title, class:"w-100" %>
    </div>
  </div>
  <div class="row mb-4">
    <p class="col-md-3">category:</p>
    <div class="offset-md-1 col-md-7 d-flex flex-wrap">
      <% @hobby.categories.each do |category| %>
        <%= category.name %>
      <% end %>
    </div>
  </div>
  <div class="row mb-3">
    <p class="col-md-3">introduction:</p>
    <%= @hobby.introduction, class:"col-md-7 offset-md-1 d-flex flex-wrap" %>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= link_to "一覧に戻る", admin_hobbies_path, class:"btn btn-danger px-2 py-2 w-100" %>
    </div>
    <div class="col-md-3 offset-md-4">
      <%= link_to "編集する", edit_admin_hobby_path(@hobby), class:"btn btn-success px-2 py-2 w-100" %>
    </div>
  </div>
</div>