<div class="main">
  <%= render "layouts/navbar" %>
  <section class="follow">
    <div class="follow_back">
      <h4><%= link_to "ユーザーページに戻る", user_page_path(@user) %></h4>
    </div>

    <div class="follow_top">
      <%= attachment_image_tag @user, :user_image, size: "90x90", fallback: "no_image.jpg"  %>
      <h3 class="user_name">
        <%= @user.name %>
      </h3>
    </div>

    <% @followers.each do |follower| %>
      <div class="follow_user">
        <%= link_to user_page_path(follower) do %>
          <div class="follow_user-link">
            <%= attachment_image_tag follower, :user_image, size: "70x70", fallback: "no_image.jpg" %>
            <div class="follow_name">
              <%= follower.name %>
            </div>
          </div>
        <% end %>
        <div class="follow_buttom">
          <% if end_user_signed_in? %>
            <% if follower != current_end_user %>
              <% if  current_end_user.following?(follower) %>
                <%= render "end_users/followers/unfollow",  user: follower %>
              <% else %>
                <%= render "end_users/followers/follow",  user: follower %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

  </section>
</div>