<section class="home">
  <!-- home_topにback-grand-image-->
  <div class="home_image">
    <div class="home_title">
      <h1 class="m-0">welcome to the stage!</h1>
    </div>
    <div class="home_top">
      <div class="home_introduction">
        <div class="home_logo mb-5"><%= image_tag 'logo.png' %></div>
        <h5>Dance-with-hobbiesは新しい趣味の発掘、同じ趣味を持つ人と趣味の共有ができるサイトです。<br>
        ユーザー登録しなくても趣味やその趣味の投稿を読むことができます。<br>
        ユーザー登録をすれば、自分の趣味を発信して新しい仲間を見つけることができます。</br>
        さあ、新しい世界が君を待っている！</h5>
      </div>

      <div class="home_set-up mb-4">
        <%= link_to "新規登録", new_end_user_registration_path, class: "btn btn-primary home_sign-up py-2" %>
        <%= link_to "ログイン", new_end_user_session_path, class: "btn btn-success home_sign-in py-2" %>
      </div>
    </div>
  </div>

  <div class="home_bottom">
    <div class="home_hobbies">
      <div class="home_link-hobbies">
        <%= link_to hobbies_path do %>
          <div class="home_link-act-blue">
            <h5 class="m-0"><%= image_tag 'hobby.jpg', size:"100x100" %>趣味一覧を見てみる</h5>
          </div>
        <% end %>
      </div>
      <%= form_with url: search_hobbies_path, method: :get, local: true, class: "home_hobby-search" do |search| %>
        <%= search.text_field :keyword, class: "home_hobby-search-field", placeholder: "趣味検索" %><br>
        <%= search.submit "検索", class: "home_hobby-search-submit" %>
      <% end %>
    </div>

    <div class="home_categories">
      <%= link_to categories_path do %>
        <div class="home_link-act-blue"><h5 class="m-0"><%= image_tag 'category.jpg', size:"100x100" %>カテゴリーから探す</h5></div>
      <% end %>
    </div>

    <div class="home_ranking">
      <div class="home_ranking-title"><h5>おすすめの趣味</h5></div>
      <% @ranking_hobbies.each do |hobby| %>
          <div class="home_hobby">
            <%= link_to hobby_path(hobby) do %>
              <div class="home_hobby-link">
                  <%= attachment_image_tag hobby, :hobby_image, size: "100x100", format: "jpg" %>
                  <div class="home_hobby-link-title">
                  <%= hobby.title %>
                  </div>
              </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="home_ranking">
      <div class="home_ranking-title"><h5>今注目されている投稿</h5></div>
      <% @ranking_posts.each do |post| %>
        <div class="home_post">
          <%= link_to hobby_post_path(post.hobby, post) do %>
            <div class="home_post-link">
              <div class="home_post-link-body">
                <%= attachment_image_tag post, :post_image,size:"100x100", class: "home_post-image", format: "jpg" %>
                <div class="home_post-link-title">
                  <%= post.title %>
                </div>
              </div>
              <div class="home_post-sub">
                <%= post.created_at.strftime("%Y/%m/%d/ %H:%M") %>
                <%= post.hobby.title %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
<%= render "layouts/footer" %>