<section class="container home">
  <!-- home_topにback-grand-image-->
  <div class="home-¥_top">
    <div class="home_title">
      <h1 class="mb-5"><strong>welcome to the stage!</strong></h1>
    </div>
    <div class="home_introduction">
      <div class="home_logo mb-5">LOGO</div>
      <p>Dance-with-hobbiesは新しい趣味の発掘、同じ趣味を持つ人と趣味の共有ができるサイトです。<br>
      ユーザー登録しなくても趣味やその趣味の投稿を読むことができます。<br>
      ユーザー登録をすれば、自分の趣味を発信して新しい仲間を見つけることができます。</br>
      さあ、新しい世界が君を待っている！</p>
    </div>

    <div class="home_set-up mb-4">
      <%= link_to "新規登録", new_end_user_registration_path, class: "btn btn-primary home_sign-up" %>
      <%= link_to "ログイン", new_end_user_session_path, class: "btn btn-success home_sign-in" %>
    </div>
  </div>

  <div class="home_hobbies mb-3">
    <%= link_to hobbies_path do %>
    <div class="home_link-hobbies"><div class="home_link-act-blue"><h5><img src="no_image.jpg" art=" ">趣味一覧を見てみる</h5></div></div>
    <% end %>
    <div class="home_hobby-search"></div>
  </div>

  <%= link_to categories_path do %>
  <div class="home_categories">
    <div class="home_link-act-blue"><h5><img src="no_image.jpg" art=" ">カテゴリーから探す</h5></div>
  </div>
  <% end %>

  <div class="home_ranking">
    <div class="home_ranking-title"><h5>おすすめの趣味</h5></div>
    <% @ranking_hobbies.each do |hobby| %>
      <%= link_to hobby_path(hobby) do %>
        <div class="home_hobby mb-3"><%= attachment_image_tag hobby, :hobby_image, size: "150x150", format: "jpg" %><%= hobby.title %></div>
      <% end %>
    <% end %>
  </div>

  <div class="home_ranking">
    <div class="home_ranking-title"><h5>今注目されている投稿</h5></div>
    <% @ranking_posts.each do |post| %>
      <%= link_to hobby_path(hobby) do %>
        <div class="home_post mb-3">
          <%= attachment_image_tag post, :post_iamge, class: "home_post-image", format: "jpg" %>
          <%= post.title %>
          <div class="home_post-sub">
            <%= post.created_at %>
            <%= post.hobby.title %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>

<div class="footer">
  <div class="footer_logo">LOGO</div>
  <div class="footer_inquiries">お問合せ</div>
</div>