<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="notifications_body">
  <div class="notifications_text">
    <%= link_to user_page_path(visitor) do %>
      <%= attachment_image_tag visitor, :user_image, size:"70x70", fallback:"no_image.jpg"%><strong><%= visitor.name %></strong>
    <% end %>
    さんが
    <% case notification.action %>
    <% when "like" then %>
      <%= link_to "あなたの投稿", hobby_post_path(notification.post.hobby, notification.post) %>にいいねしました
    <% when "comment" then %>
      <% if notification.post.end_user_id == visited.id %>
        <%= link_to "あなたの投稿", hobby_post_path(notification.post.hobby, notification.post) %>
      <% else %>
        <%= link_to hobby_post_path(notification.post.hobby, notification.post) do %>
          <%= attachment_image_tag visitor, :user_image, size:"70x70", fallback:"no_image.jpg"%><strong><%= visitor.name %></strong>さんの投稿
        <% end %>
      <% end %>
      にコメントしました
      <div class="notifications_comment">
        <%= notification.post_comment.comment %>
      </div>
  <% end %>
  </div>
  <div class="notifications_time">
    <%= time_ago_in_words(notification.created_at).upcase + "前" %>
  </div>
</div>