<div class="main">
  <%= render "layouts/navbar" %>
  <section class="user-post">
    <div class="user-post_back">
      <h4>
        <div class="post_back">
          <%= link_to end_user_post_histories_path(@end_user) do %>
            <span class="post_back-span">⇦</span>投稿一覧に戻る
          <% end %>
        </div>
      </h4>
    </div>
    <div class="user-post_top">
      <h4><%= attachment_image_tag @end_user, :user_image, size: "100x100", fallback: "no_image.jpg" %><%= @end_user.name %></h4>
    </div>

    <div class="user-post_bottom">
      <div class="user-post_post">
        <div class="user-post_main">
          <div class="user-post_user">
          <%= link_to user_page_path(@post.end_user.id), class:"post_user-link" do %>
            <%= attachment_image_tag @post.end_user, :user_image, size: "70x70", fallback: "no_image.jpg" %>
            <%= @post.end_user.name %>
          <% end %>
            <div class="user-post_created">
              <div class="user-post_created-time"><%= @post.created_at.strftime("%Y/%m/%d/ %H:%M") %></div>
              <div class="user-post_created-hobby"><%= @post.hobby.title %></div>
            </div>
          </div>

          <h4 class="user-post_title"><%= @post.title %></h4>
          <div class="post-one_image-field">
            <% if @post.post_image.present? %>
              <%= image_tag attachment_url(@post, :post_image), class:"post-one_image" %>
            <% end %>
          </div>
          <div class="user-post_tag-list">
            <% @post.tags.each do |tag| %>
              <span class="user-post_tag">#<%= tag.name %></span>
            <% end %>
          </div>
          <div class="user-post_body">
            <%=safe_join(@post.body.split("\n"),tag(:br))%>
          </div>
        </div>

        <div class="user-post_sub">
          <div class="user-post_content">
            <h6><%= image_tag "eye.jpg" %><%= @post.impressionist_count(:filter => :session_hash) %></h6>
            <h6 class="user-post_comment-count"><%= image_tag "comment.jpg" %><%= @post.post_comments.count %>件</h6>
            <% if end_user_signed_in? %>
              <% if @post.favorite_posts?(current_end_user) %>
                <div class="post-one_favorite" id="post-favorite-button-<%= @post.id %>">
                  <%= render "end_users/favorite_posts/unpost-favorite", post: @post %>
                </div>
              <% elsif %>
                <div class="post-one_favorite" id="post-favorite-button-<%= @post.id %>">
                  <%= render "end_users/favorite_posts/post-favorite", post: @post %>
                </div>
              <% end %>
            <% elsif %>
              <h6>いいね♡<%= post.favorite_posts.count %></h6>
            <% end %>
          </div>
          <% @comments.each do |c| %>
            <div class="user-post_comment">
              <div class="user-post_comment-user">
                <%= link_to user_page_path(c.end_user) do %>
                  <%= attachment_image_tag c.end_user, :user_image, size: "50x50", fallback: "no_image.jpg", format: "jpg" %>
                  <%= c.end_user.name %>
                <% end %>
                <div class="user-post_comment-created">
                  <%= c.created_at.strftime("%Y/%m/%d/ %H:%M") %>
                </div>
              </div>
              <div class="user-post_comment-main">
                <%= c.comment %>
              </div>
            </div>
          <% end %>
          <div class="user-post_link-comment">
            <%= link_to hobby_post_post_comments_path(@post.hobby.id, @post.id) do %>
              <h5 class="m-0">コメント一覧へ</h5>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% if @post.end_user == current_end_user %>
      <div class="user-post_delete">
        <%= link_to "投稿を削除する", hobby_post_path(@post.hobby.id, @post.id), method: :delete, "data-confirm" => "投稿を削除しますか？" %>
      </div>
    <% end %>
  </section>
</div>