<div class="main">
    <%= render "layouts/navbar" %>
    <section class="user">
        <div class="user_info">
            <h4><%= link_to "戻る", 'javascript:history.back()' %></h4>
            <% if current_end_user == @user %>
                <h4><%= link_to "編集", information_path(@user), class: "user_edit" %></h4>
            <% elsif current_end_user.following?(@user) %>
                <%= render "end_users/followers/unfollow",  user: @user %>
            <% else %>
                <%= render "end_users/followers/follow",  user: @user %>
            <% end %>
        </div>
        <div class="user_title">
            <%= attachment_image_tag @user, :user_image, size:"100x100", fallback:"no_image.jpg"%>
            <h4 class="user_name"><%= @user.name %></h4>
        </div>
        <div class="user_row">
            <div class="user_comment">
                <%= @user.user_comment %>
            </div>
        </div>
        <div class="user_row">
            <p>メールアドレス:</p>
            <%= @user.email %>
        </div>
        <div class="user_row">
            <p>お気に入りの趣味:</p>
            <div class="user_favorite-hobbies">
                <% @hobbies.each do |hobby| %>
                    <div class="user_hobby">
                        <%= link_to hobby_path(hobby) do %>
                            <div class="user_hobby-name">
                                <%= attachment_image_tag hobby, :hobby_image, size:"50x50", fallback: "no_image.jpg" %>
                                <%= hobby.title %>
                            </div>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>

        <%= link_to end_user_followers_path(@user) do %>
            <div class="user_row--center">
                <h5>フォローユーザー一覧</h5>
            </div>
        <% end %>

        <%= link_to end_user_post_histories_path(@user) do %>
            <div class="user_row--center">
                <h5>投稿履歴</h5>
            </div>
        <% end %>

        <!--通知一覧へリンク-->
        <% if @user == current_end_user %>
            <%= link_to end_user_notifications_path(current_end_user.id) do %>
                <div class="user_row--center">
                    <h5>通知一覧</h5>
                </div>
            <% end %>
        <% end %>
    </section>
</div>