<section class="container user">
    <div class="user_info">
        <%= link_to "戻る", 'javascript:history.back()', class: "user_back" %>
        <% if current_end_user == @user %>
            <%= link_to "編集", information_path(@user), class: "user_edit" %>
        <% elsif  @user.following?(current_user) %>
            <%= render "followers/unfollow",  user: @user %>
        <% else %>
            <%= render "followers/follow",  user: @user %>
        <% end %>
    </div>
    <div class="user_title">
        <%= attachment_image_tag @user, :user_image, size:"200x200", %>
        <%= @user.name , class: "user_name" %>
    </div>
    <div class="user_row">
        <%= @user.user_comment, class: "user_comment" %>
    </div>
    <div class="user_row">
        <p>メールアドレス:</p>
        <%= @user.email %>
    </div>
    <div class="user_row">
        <p>お気に入りの趣味:</p>
        <div class="user_favorite-hobbies">
            <%= @user.favorite_hobbies.each do |hobby| %>
                <%= hobby.title %>
            <% end %>
        </div>
    </div>

    <%= link_to end_user_follower_index_path do %>
        <div class="user_row">
            <p>フォローユーザー一覧</p>
        </div>
    <% end %>

    <%= link_to end_user_post_histories_path(@user) do %>
        <div class="user_row">
            <p>投稿履歴</p>
        </div>
    <% end %>

    <!--通知一覧へリンク-->
        <div class="user_row">
            <p>通知一覧</p>
        </div>


</section>