<div class="main">
  <%= render "layouts/navbar" %>
  <section class="container p-5">
    <div class="row mb-4 admin-title">
      <div class="admin-title_page-title">
        <h4>趣味一覧</h4>
      </div>
      <%= link_to new_admin_hobby_path, class: "ml-auto p-md-2" do %>
        <h5>趣味作成</h5>
      <% end %>
    </div>
    <div class="admin-table">
      <table class="table admin-table_index-table">
        <thead class="admin-table_index-thead">
          <tr class="admin-table_index-tr">
            <th width="10%">ID</th>
            <th width="20%">title</th>
            <th width="50%">introduction</th>
            <th class="text-center">delete</th>
          </tr>
        </thead>
        <tbody>
          <% @hobbies.each do |t| %>
          <tr class="admin-table_index-tr">
            <td><%= t.id %></td>
            <td>
              <%= link_to admin_hobby_path(t) do %>
                <%= t.title %>
              <% end %>
            </td>
            <td class="text-break"><%= t.introduction %></td>
            <td align="center"><%= link_to "趣味削除", admin_hobby_path(t), class:"btn btn-danger px-md-2 py-md-2", method: :delete %></td>
          </tr class="admin-table_index-tr">
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="row justify-content-around w-100">
      <%= paginate @hobbies %>
    </div>
  </section>
</div>