<div class="main">
  <%= render "layouts/navbar" %>
  <section class="hobbies">
    <div class="hobbies_title">
      <h2 class="page-title">趣味一覧</h2>
      <%= form_with url: search_hobbies_path, method: :get, local: true do |search| %>
        <div class="hobbies_search">
          <%= search.text_field :keyword, class: "hobbies_serch-field", placeholder: "趣味検索" %>
          <%= search.submit "検索", class: "hobbies_serch-submit" %>
        </div>
      <% end %>
    </div>

    <div class="hobbies_contents">
      <% @hobbies.each do |hobby| %>
        <div class="hobbies_one">
          <%= link_to hobby_path(hobby), class: "hobbies_one-link" do %>
            <%= attachment_image_tag hobby, :hobby_image, class: "hobbies_one-image", fallback: "no_image.jpg" %>
            <div class="hobbies_one-name">
              <%= hobby.title %>
            </div>
            <div class="hobbies_one-introduction">
              <%= hobby.introduction%>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="hobbies_paginate">
      <%= paginate @hobbies, remote: true %>
    </div>

  </section>
</div>