<div class="main">
  <%= render "layouts/navbar" %>
  <section class="hobby-one container">
    <div class="hobby-one_info">
      <h4><%= link_to "戻る", 'javascript:history.back()' %></h4>
    </div>
    <div class="hobby-one_top">
      <%= attachment_image_tag @hobby, :hobby_image, size: "120x120", fallback: "no_image.jpg", class: "hobby-one_image" %>
      <h3><%= @hobby.title %></h3>
    </div>
    <div class="hobby-one_introduction">
      <%= @hobby.introduction %>
    </div>

    <div class="hobby-one_link-posts">
      <%= link_to "多くのユーザーの投稿を見てみよう！", hobby_posts_path(@hobby), class: "hobby-one_button btn btn-dark" %>
    </div>

    <div class="hobby-one_posts">
      <% @posts.each do |post| %>
        <%= link_to hobby_post_path(post) do %>
          <div class="hobby-one_post">

            <div class="hobby-one_post-user">
            <%= link_to user_page_path(post.end_user.id) do %>
              <%= attachment_image_tag post.end_user, :user_image, size: "70x70", fallback: "no_image.jpg" %>
              <%=  post.end_user.name %>
            <% end %>
              <div class="hobby-one_post-created">
                <%= post.created_at.strftime("%Y/%m/%d/ %H:%M") %>
                <%= post.hobby.title %>
              </div>
            </div>

            <h4 class="hobby-one_post-title"><%= t.title %></h4>
            <%= attachment_image_tag post, :post_image_id, class: "hobby-one_post-image" %>
            <div class="hobby-one_post-list">
              <%= post.tags do |tag| %>
                <i class="fa-duotone fa-tag"><%= tag.name %></i>
              <% end %>
            </div>

          </div>
        <% end %>
        <div class="hobby-one_post-sub">
          <h6><i class="fa-regular fa-eye"><%= @post.impressionist_count %></i></h6>
          <h6 class="hobby-one_post-comment"><%= image_tag "comment.jpg" %><%= post.comments.count %>件</h6>
          <div class="hobby-one_post-favorite">
            <% if favorite_posts?(end_user) %>
              <%= render "favorite_post/unpost-favorite", post: @post %>
            <% elsif %>
              <%= render "favorite_post/post-favorite", post: @post %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>
