<div class="main">
  <%= render "layouts/navbar" %>
  <div class="categories">
    <div class="categories_title">
      <h2 class="page-title">カテゴリー一覧</h2>
      <%= form_with url: search_categories_path, method: :get, local: true do |search| %>
        <div class="categories_search">
          <%= search.text_field :keyword, class: "categories_search-field", placeholder: "カテゴリー検索" %>
          <%= search.submit "検索", class: "categories_search-submit" %>
        </div>
      <% end %>
    </div>

    <% @categories.each do |category| %>
      <div class="categories_contents">
        <div class="categories_main">
          <%= attachment_image_tag category, :category_image, size:"65x65" %>
          <h3 class="categories_name"><%= category.name %></h3>
        </div>
        <div class="categories_hobby-list">
          <% category.hobbies.each do |hobby| %>
            <div class="categories_hobby">
              <%= link_to hobby_path(hobby) do %>
                <div class="categories_hobby-name">
                  <%= attachment_image_tag hobby, :hobby_image, size:"50x50", fallback: "no_image.jpg" %>
                  <%= hobby.title %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="categories_paginate">
      <%= paginate @categories %>
    </div>
  </div>
</div>