<div class="main">
  <%= render "layouts/navbar" %>
  <div class="contact">
    <div class="contact_back">
      <h4><%= link_to "戻る", back_contacts_path %></h4>
    </div>
    <%= form_with model: @contact, url: thanks_contacts_path, local: true do |f| %>
      <div class="contact_form">
        <div class="contact_name">
          <%= @contact.name %>
          <%= f.hidden_field :name %>
        </div>
        <div class="contact_email">
          <%= @contact.email %>
          <%= f.hidden_field :email %>
        </div>
        <div class="contact_message">
          <%= @contact.message %>
          <%= f.hidden_field :message %>
        </div>
        <div class="contact_send">
          <%= f.submit "送信する", class: "contact_submit" %>
        </div>
      </div>
    <% end %>
  </div>