<div class="main">
  <%= render "layouts/navbar" %>
  <!--confirm画面-->
  <section class="post-one">
      <div class="hobby-title">
        <h3><%= attachment_image_tag @hobby, :hobby_image, size: "100x100", fallback: "no_image.jpg" %><%= @hobby.title %></h3>
      </div>
    <%= form_with(model: [:end_users, @hobby, @new_post], url: hobby_posts_path(@hobby), local: true) do |f| %>
      <div class="post-one_bottom">
        <div class="post-one_post">
          <h2 class="post-one_confirm">投稿確認</h2>
          <div class="post-one_main">
            <div class="post-one_user">
                <%= attachment_image_tag @new_post.end_user, :user_image, size: "70x70", fallback: "no_image.jpg" %>
                <%= @new_post.end_user.name %>
              <div class="post-one_created">
                <div class="post-one_created-time"><%= Time.now.strftime("%Y/%m/%d/ %H:%M") %></div>
                <div class="post-one_created-hobby"><%= @new_post.hobby.title %></div>
              </div>
            </div>

            <h4 class="post-one_title">
              <%= @new_post.title %>
              <%= f.hidden_field :title, value: @new_post.title %>
            </h4>
            <div class="post-one_image-field">
              <% if @new_post.post_image.present? %>
                <%= image_tag attachment_url(@new_post, :post_image), class:"post-one_image" %>
              <% end %>
              <div style="display:none;"><%= f.attachment_field :post_image %></div>
            </div>
            <div class="post-one_tag-list">
              <% @tags.split(/\,|\、/).uniq.each do |t| %>
                <span class="post-one_tag">#<%= t %></span>
              <% end %>
               <%= f.hidden_field :name, value: @tags %>
            </div>
            <div class="post-one_body">
              <%=safe_join(@new_post.body.split("\n"),tag(:br))%>
              <%= f.hidden_field :body, value: @new_post.body %>
            </div>
          </div>
          <div class="post-one_send">
            <%= link_to new_hobby_post_path(@hobby) do %>
              <button class="new-post_cancel">投稿をキャンセル</button>
            <% end %>
            <%= f.submit "投稿をする", class: "new-post_submit" %>
          </div>
        </div>
      </div>
    <% end %>
  </section>
</div>