<div class="main">
  <%= render "layouts/navbar" %>
  <section class="posts">
    <div class="posts_back"><%= link_to "戻る", 'javascript:history.back()' %></div>

    <%= render 'hobbies/hobby', hobby: @hobby %>

    <div class="posts_page">

    </div>

    <div class="posts_index">
      <% @posts.each do |post| %>
        <%= link_to hobby_post_path(post.hobby_id, post.id) do %>
          <div class="posts_main">

            <div class="posts_post-user">
            <%= link_to user_page_path(post.end_user.id) do %>
              <%= attachment_image_tag post.end_user, :user_image, size: "80x80", fallback: "no_image.jpg" %>
              <%=  post.end_user.name %>
            <% end %>
            <div class="posts_post-created">
              <%= post.created_at, strftime("%Y/%m/%d/ %H:%M") %>
              <%= post.hobby.title %>
            </div>
            </div>

            <h4 class="posts_post-title"><%= post.title %></h4>
            <%= attachment_image_tag post, :post_image_id, class: "posts_post-image" %>
            <div class="posts_post-list">
              <% post.tags.each do |t| %>
                <p class="posts_post-tags">#<%= t.name %></p>
              <% end %>
            </div>

          </div>
        <% end %>
        <div class="posts_post-sub">
          <h6><i class="fa-regular fa-eye"><%= post.impressions.size %></i></h6>
          <h6 class="post_post-comment"><%= image_tag "comment.jpg" %><%= post.comments.count %>件</h6>
          <div class="post_post-favorite" id="post-favorite-button-#{@post.id}">
            <% if favorite_posts?(end_user) %>
              <h6>いいね🤍<%= post.favorite_posts.count %></h6>
            <% elsif %>
              <h6>いいね♡<%= post.favorite_posts.count %></h6>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </section>
</div>