<div class="container">
  <div class="d-flex justify-content-center">
    <h1 class="mb-5"><div>LOGO</div>の管理者サイト</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label "メールアドレス:" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label "パスワード:" %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "ログイン", class:"btn btn-primary px-md-2 py-md-2" %>
      </div>
    <% end %>
  </div>
</div>

<%= render "admins/shared/links" %>
