<div class="main">
  <%= render "layouts/navbar" %>
  <section class="container p-5">
    <div class="row">
      <%= link_to "戻る", 'javascript:history.back()' %>
    </div>

    <%= form_with model:[:admin @user], local: true do |f| %>
      <div class="row mb-4">
        <%= attachment_image_tag @user, :user_image, size:"300x300", fallback: "no_image.jpg", id:"user_img_prev" %>
        <%= f.attachment_field :user_image %>
      </div>
      <div class="row mb-4">
        <p class="col-3">name:</p>
        <%= f.text_field :name, class:"w-100 col-md-7 offset-md-1" %>
      </div>
      <div class="row mb-4">
        <p class="col-3">email:</p>
        <%= f.emil_field :email, class:"w-100 col-md-7 offset-md-1" %>
      </div>
      <div class="row mb-4">
        <p class="col-3">comment:</p>
        <%= f.text_area :user_comment, class:"w-100 col-md-7 offset-md-1 d-flex flex-wrap" %>
      </div>
      <div class="row mb-4">
        <p class="col-3">status:</p>
        <%= f.radio_button :is_deleted, false %><%= f.label :is_deleted, "有効", class:"text-success" %>
        <%= f.radio_button :is_deleted, true %><%= f.label :is_deleted, "退会", class:"text-secondary" %>
      </div>
      <div class="row">
        <%= f.submit "更新",  class:"btn btn-primary px-2 py-2 w-100" %>
      </div>
    <% end %>
  </section>
</div>

<script>
$(document).on("turbolinks:load", function(){
  function readURL(input) {
    if(input.files && input.files[0]){
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#user_img_prev').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
  $("#end_user_user_image").change(function(){
    readURL(this);
  });
});
</script>