<%= form_with(model: [:end_users, hobby, post, new_comment], url: hobby_post_post_comments_path(hobby,post), remote: true) do |f| %>
  <div class="comments_form">
    <div class="comments_form-label">
      <%= f.label :comment, "コメント追加:" %>
    </div>
    <div class="comments_form-errors" id="comments-errors">
      <%= render "end_users/post_comments/errors", new_comment: @new_comment %>
    </div>
    <div class="comments_form-field">
      <%= f.text_area :comment, class: "comments_text-field", placeholder: "コメントを入力してください" %>
      <%= f.submit "コメントする", class: "comments_submit" %>
    </div>
  </div>
<% end %>