<div class="main">
  <%= render "layouts/navbar" %>
  <section class="comments">
    <h4><div class="comments_back"><%= link_to "戻る", 'javascript:history.back()' %></div></h4>
    <div class="hobby-one_top">
      <div class="hobby-one_title">
        <%= attachment_image_tag @hobby, :hobby_image, size: "120x120", fallback: "no_image.jpg", class: "hobby-one_image" %>
        <h3><%= @hobby.title %></h3>
      </div>
    </div>
    <div class="comments_bottom">
      <div class="comments_post">
        <div class="comments_post-main">
          <div class="comments_post-user">
          <%= link_to user_page_path(@post.end_user.id), class:"comments_user-link" do %>
            <%= attachment_image_tag @post.end_user, :user_image, size: "70x70", fallback: "no_image.jpg" %>
            <%= @post.end_user.name %>
          <% end %>
            <div class="comments_post-created">
              <div class="comments_post-created-time"><%= @post.created_at.strftime("%Y/%m/%d/ %H:%M") %></div>
              <div class="comments_post-created-hobby"><%= @post.hobby.title %></div>
            </div>
          </div>

          <%= link_to hobby_post_path(@post.hobby, @post), class:"posts_post-link" do %>
            <h4 class="posts_post-title"><%= @post.title %></h4>
            <div class="posts_post-list">
              <% @post.tags.each do |tag| %>
                  <span class="posts_post-tag">#<%= tag.name %></span>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="comments_sub">
          <div class="comments_content">
            <h6><%= image_tag "eye.jpg" %><%= @post.impressionist_count(:filter => :session_hash) %></h6>
            <h6 class="comments_comment-count"><%= image_tag "comment.jpg" %><%= @post.post_comments.count %>件</h6>
            <% if end_user_signed_in? %>
              <% if @post.favorite_posts?(current_end_user) %>
                <div class="comments_favorite" id="post-favorite-button-<%= @post.id %>">
                  <%= render "end_users/favorite_posts/unpost-favorite", post: @post %>
                </div>
              <% elsif %>
                <div class="comments_favorite" id="post-favorite-button-<%= @post.id %>">
                  <%= render "end_users/favorite_posts/post-favorite", post: @post %>
                </div>
              <% end %>
            <% elsif %>
              <h6>いいね♡<%= @post.favorite_posts.count %></h6>
            <% end %>
          </div>

          <% if end_user_signed_in? %>
              <%= render "end_users/post_comments/comment-form", hobby: @hobby, post: @post, new_comment: @new_comment %>
          <% end %>

          <div id="comments-area">
            <%= render "end_users/post_comments/index", hobby: @hobby, post: @post, comments: @comments %>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>