<div class="main">
  <%= render "layouts/navbar" %>
<section class="container p-5">
  <div class="row mb-4 admin-title">
    <div class="admin-title_page-title"><h4>カテゴリー一覧</h4></div>
  </div>

  <% if @new_category.errors.any? %>
    <div class="text-center text-danger">
      <% @new_category.errors.full_messages.each do |error| %>
        <p><%= error %></p>
      <% end %>
    </div>
  <% end %>

  <div class="category_field">
    <%= form_with model: [:admin,  @new_category], local: true do |f| %>
      <div class="row pl-5 align-items-end mb-3">
        <%= attachment_image_tag @new_category, :category_image, size:"100x100", fallback: "no_image.jpg", id:"category_img_prev" %>
        <%= f.attachment_field :category_image, class:"h-100" %>
      </div>
      <div class="row p-3">
        <p class="col-1">name:</p>
        <%= f.text_field :name, class:"col-md-5 w-100" %>
        <%= f.submit "カテゴリ作成", class:"col-md-2 w-100 ml-2" %>
      </div>
    <% end %>
  </div>

  <div class="admin-table">
    <table class="table admin-table_index-table">
      <thead class="admin-table_index-thead">
        <tr class="admin-table_index-tr">
          <th width="10%">ID</th>
          <th width="20%">image</th>
          <th width="60%">title</th>
          <th width="20%">delete</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
        <tr class="admin-table_index-tr">
          <td align="center"><%= category.id %></td>
          <td><%= attachment_image_tag category, :category_image, size:"50x50", format: "jpg" %></td>
          <td><%= category.name %></td>
          <td><%= link_to "削除", admin_category_path(category), class:"btn btn-danger px-2 py-2", method: :delete %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-around w-100">
    <%= paginate @categories %>
  </div>
</section>
</div>
