<section class="sign-up d-flex justify-content-center">
  <div class="container d-flex justify-content-center flex-column p-4 shadow-lg bg-white">
    <div class="m-3 text-center">
      <%= link_to root_path do %><%= image_tag 'logo.png' %><% end %>
    </div>
    <div class="row text-center mb-5 mx-auto">
      <h2>新しくユーザーを登録して<br>
      自分の趣味を発信しよう!</h2>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "end_users/shared/error_messages", resource: resource %>

      <div class="row mb-3">
        <%= f.label :name, "名前:", class: "col-md-3 offset-lg-1 text-right" %>
        <%= f.text_field :name, autofocus: true, class: "col-5 offset-md-1" %>
      </div>

      <div class="row mb-3">
        <%= f.label :email, "メールアドレス:", class: "col-md-3 offset-lg-1 text-right" %>
        <%= f.email_field :email, autocomplete: "email", class: "col-5 offset-md-1" %>
      </div>

      <div class="row mb-3">
        <%= f.label :password, "パスワード:", class: "col-md-3 offset-lg-1 text-right" %>
        <%= f.password_field :password, autocomplete: "new-password", class: "col-5 offset-md-1" %>
      </div>

      <div class="row mb-3">
        <%= f.label :password_confirmation, "パスワード確認:", class: "col-md-3 offset-lg-1 text-right" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-5 offset-md-1" %>
      </div>

      <%= f.hidden_field :user_comment, value: "よろしくお願いします" %>

      <div class="row justify-content-center p-3 border-bottom">
        <%= f.submit "登録", class: "btn btn-primary p-2 px-2 col-3" %>
      </div>
    <% end %>

    <div class="row justify-content-center m-3">
      <div class="text-center">
        <p>ユーザーを作成済みの方はこちらから<br>
        ログインして下さい</p>
      </div>
      <div class="mx-5">
        <h1>➡</h1>
      </div>
      <div>
        <%= link_to "ログイン画面へ", new_end_user_session_path, class: "btn btn-success p-2 w-100" %>
      </div>
    </div>
  </div>
</section>