<div class="sub">
  <div class="subnav">
    <%= link_to root_path do %>
      <div class="logo"><%= image_tag 'logo.png', size:"120x120" %></div>
    <% end %>
    <div class="nav-list">
      <% if admin_signed_in? %>
        <%= link_to admin_end_users_path do %> <div class="nav-items"><span class="text-light">ユーザー一覧</span></div><% end %>
        <%= link_to admin_root_path do %> <div class="nav-items"><span class="text-light">趣味一覧</span></div><% end %>
        <%= link_to admin_categories_path do %> <div class="nav-items"><span class="text-light">カテゴリー一覧</span></div><% end %>
        <%= link_to admin_inquiries_path do %> <div class="nav-items"><span class="text-light">お問い合せ一覧</span></div><% end %>
        <%= link_to destroy_admin_session_path, method: :delete do %> <div class="nav-items"><span class="text-light">ログアウト</span></div><% end %>
      <% elsif end_user_signed_in? %>
        <%= link_to user_page_path(current_end_user) do %>
          <div class="nav-items" style="padding:6px 10px;">
            <%= attachment_image_tag current_end_user, :user_image, size:"50x50", fallback:"no_image.jpg", format:"jpg" %><span class="nav-items-user"><%= current_end_user.name %></span>
          </div>
        <% end %>
        <%= link_to hobbies_path do %> <div class="nav-items"><span class="text-light">趣味一覧</span></div><% end %>
        <%= link_to categories_path do %> <div class="nav-items"><span class="text-light">カテゴリー一覧</span></div><% end %>
        <%= link_to end_user_post_histories_path(current_end_user.id) do %> <div class="nav-items"><span class="text-light">投稿履歴</span></div><% end %>
        <%= link_to end_user_notifications_path(current_end_user.id) do %>
          <div class="nav-items">
            <% if unchecked_notifications.any? %>
              <span class="nav-icon">New!</span>
            <% end %>
            <span class="text-light">通知一覧</span>
          </div>
        <% end %>
        <%= link_to destroy_end_user_session_path, method: :delete do %> <div class="nav-items"><span class="text-light">ログアウト</span></div><% end %>
      <% else %>
        <%= link_to new_end_user_registration_path do %><div class="nav-items"><span class="text-light">新規登録</span></div><% end %>
        <%= link_to new_end_user_session_path do %><div class="nav-items"><span class="text-light">ログイン</span></div><% end %>
        <%= link_to hobbies_path do %> <div class="nav-items"><span class="text-light">趣味一覧</span></div><% end %>
        <%= link_to categories_path do %> <div class="nav-items"><span class="text-light">カテゴリー一覧</span></div><% end %>
      <% end %>
    </div>
  </div>
</div>