<!DOCTYPE html>
<html>
  <head>
    <title>DanceWithHobbies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ddb09f1c9d.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- 指定したページの場合はヘッダー、ナビを表示しない-->
    <% unless %w[new_end_user_session new_end_user_registration new_admin_session root].any? { |name| current_page?(send("#{name}_path")) } %>
    <header class="navbar navbar-expand-lg navbar-info">
      <div class="container">
        <%= link_to root_path do %>
          <p>logo</p>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expand="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </header>
    <% end %>
    <main class="container">
      <% unless %w[new_end_user_session new_end_user_registration new_admin_session root].any? { |name| current_page?(send("#{name}_path")) } %>
      <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 sidebar">
          <div class="search"></div>
          <nav class="collapse" id="navbarNavDropdown">
            <% if admin_signed_in? %>
              <%= link_to admin_end_users_path do %> <div class="nav-items">ユーザー一覧</div><% end %>
              <%= link_to admin_hobbies_path do %> <div class="nav-items">趣味一覧</div><% end %>
              <%= link_to admin_categories_path do %> <div class="nav-items">カテゴリー一覧</div><% end %>
              <%= link_to admin_inquiries_path do %> <div class="nav-items">お問い合せ一覧</div><% end %>
              <%= link_to destroy_admin_session_path, method: :destroy do %> <div class="nav-items">ログアウト</div><% end %>
            <% elsif end_user_signed_in? %>
              <%= link_to user_page_path do %>
              <div class="nav-items">
                <%= attachment_image_tag current_end_user, :user_image, size:"200x200", format: "jpg" %><%= current_end_user.name %>
              </div>
              <% end %>
              <%= link_to hobbies_path do %> <div class="nav-items">趣味一覧</div><% end %>
              <%= link_to categories_path do %> <div class="nav-items">カテゴリー一覧</div><% end %>
              <%= link_to end_user_post_histories_path(current_end_user.post_histories) do %> <div class="nav-items">投稿履歴</div><% end %>
              <%= link_to end_user_notifications_path(current_end_user.id) %><div class="user_row">通知一覧</div><% end %>
              <%= link_to destroy_end_user_session, method: :destroy do %> <div class="nav-items">ログアウト</div><% end %>
            <% else %>
              <%= link_to new_end_user_registration_path do %><div class="nav-items">新規登録</div><% end %>
              <%= link_to new_end_user_session_path do %><div class="nav-items">ログイン</div><% end %>
              <%= link_to hobbies_path do %> <div class="nav-items">趣味一覧</div><% end %>
              <%= link_to categories_path do %> <div class="nav-items">カテゴリー一覧</div><% end %>
            <% end %>
          </nav>
        </div>
        <% end %>
        <div>
         <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
